* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    background-image: url("fotocapa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 990px;
    background: #ffffffc9;
    padding: 40px;
    position: absolute;
    box-shadow: 5px 5px 10px #70707090;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

p {
    text-align: center;
    font-weight: bolder;
    color: #835423;
}

#hoje {
    color: rgb(107, 107, 107);
}

#parabens {
    margin: 30px;
    font-size: 1.5em;
}

#nome {
    font-size: 1.8em;
}

#funcao {
    margin-top: 20px;
    font-size: 1em;
}

#hoje {
    font-size: 0.8em;
}

.bts {
    width: 100%;
    display: flex;
    justify-content:center;
}

input {
    margin: 2rem;
    width: 14rem;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: .9rem;
    cursor: pointer;
    transition: all .3s ease-out;
    background-color: #835423;
    color: #fff;
    font-weight: 600;
}

input:hover {
    background-color: #6D657B9c;
    color: #ffffff;
}

a {
    margin: 2rem;
    width: 14rem;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: .9rem;
    cursor: pointer;
    transition: all .3s ease-out;
    background-color: #00A884;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.fa-brands {
    margin-right: 1rem;
}