* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    background-image: url("fotocapa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 790px;
    background: #ffffffc9;
    padding: 40px;
    position: absolute;
    box-shadow: 5px 5px 10px #70707090;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

p {
    text-align: center;
    font-weight: bolder;
    color: #835423;
}

#hoje {
    color: rgb(107, 107, 107);
}

#parabens {
    margin: 30px;
    font-size: 1.5em;
}

#nome {
    font-size: 1.8em;
}

#funcao {
    margin-top: 20px;
    font-size: 1em;
}

#hoje {
    font-size: 0.8em;
}

.bts {
    width: 100%;
    display: flex;
    justify-content:center;
}

.fechar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 14rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-out;
    background-color: #835423;
    color: #fff;
    font-size: .9rem;
    text-align: center;
}

.fechar:hover {
    background-color: #6D657B9c;
    color: #ffffff;
    border: 2px solid #835423;
}

.parabenizar {
    margin: 2rem;
    width: 14rem;
    border-radius: 20px;
    border: 2px solid #0275d8;
    outline: none;
    padding: .9rem;
    cursor: pointer;
    transition: all .3s ease-out;
    background-color: #0275d8;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.parabenizar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.parabenizar:hover {
    background-color: #5bc0de;
    border: 2px solid #0275d8;
}

.fa-brands {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.bt-fechar {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    background-color: #0275d8;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 790px) {
    
   .content {
       width: 90%;
   }

}

